<% if @abuelita %>
  <p>Tu Abuelita dice:</p>
  <% if @abuelita == "NO, NO DESDE 1983"%>
      <p>NO, NO DESDE 1983</p>
  <% elsif @abuelita == "HUH?! NO TE ESCUCHO, HIJO!"%>
      <p>HUH?! NO TE ESCUCHO, HIJO!</p>
  <% elsif @abuelita == "BYE TQM"%>
      <p>BYE TQM</p>
  <%end%>
<% end %>
